
#follow{
    margin-left: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logoInstagram{
  width: 100px;
  float: left;
  margin-left: 5px;
}
#logoFacebook{
  width: 63px;
  float: right;
  margin-right: 25px;
  margin-top: 5px;
  height: 64px;
}
#logoEncuentra24
{
  float: right;
  width: 70px;
  height: 60px;
  margin-right: 20px;
  margin-top: 20px;
}
#logoGmail
{
  width: 70px;
  margin-left: 21px;
  margin-top: 5px;
}
